<div class="row edit-cart">
  <h2>Change Quantity</h2>
  <h3><%= @carted_item.item.name %></h3>
  <p><%= number_to_currency(@carted_item.item.price) %> each</p>
  <%= form_tag "/carted_items/#{@carted_item.id}", method: :patch do %>
    <div class="input-field form-elements col s4 offset-s4 form-component">
      <select name="quantity">
        <!-- <option value="" disabled selected>Quantity</option> -->
        <% (1..10).each do |num| %>
          <% if @carted_item.quantity == num %>
            <option value="<%= num %>" selected><%= num %></option>
          <% else %>
            <option value="<%= num %>"><%= num %></option>
          <% end %>
        <% end %>
      </select>
      <label>Choose Quantity</label>
    </div>
    <div class="col s12">
      <input class="btn" type="submit" value="Confirm Edit">
    </div>
  <% end %>
  <a href="/menu" class="normal-link col s12">Cancel</a>
</div>

<script>
  $(document).ready(function() {
    $('select').material_select();
  });
</script>