<!-- ERROR DISPLAY MESSAGE -->
<% if @item.errors.any? %>
  <div id="error-explanation" class="col s12">
    <!-- <h3><%= pluralize(@item.errors.count, "error") %> prohibited this item from being saved:</h3> -->
    <ul>
      <% @item.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<div class="col s6 form-component">
  <!-- NAME FIELD -->
  <div class="form-elements col s11">
    Name: <input type="text" value="<%= @item.name %>" name="name">
  </div>

  <!-- CATEGORY DROPDOWN -->
  <div class="input-field form-elements col s11">
    <select name="category_id">
      <% if @item.category == nil %>
        <option value="" disabled selected>Category</option>
      <% end %>
      <% @categories.each do |category| %>
        <% if @item && @item.category && (@item.category == category.name) %>
          <option value="<%= category.id.to_i %>" selected><%= category.name %></option>
        <% else %>
          <option value="<%= category.id.to_i %>"><%= category.name %></option>
        <% end %>
      <% end %>
    </select>
    <label>Choose Item Category</label>
  </div>
</div>

<div class="col s6 form-component">
  <!-- MENU'S CHECKBOX -->
  <div class="form-elements">
    <div>
      Which Menu(s)?
    </div>
    <div>
      <p class="col s3">
        <input type="hidden"  name="lunch" value="false" />  <!-- sets lunch value to false if checkbox is unchecked -->
        <% if @item && (@item.lunch == true) %>
          <input type="checkbox" name="lunch" class="filled-in" id="lunch-option" checked="checked" value="true" />
        <% else %>
          <input type="checkbox" name="lunch" class="filled-in" id="lunch-option" value="true" />
        <% end %>
        <label for="lunch-option">Lunch</label>
      </p>
      <p class="col s3">
        <input type="hidden"  name="dinner" value="false" /> <!-- sets dinner value to false if checkboxk is unchecked -->
        <% if @item && (@item.dinner == true) %>
          <input type="checkbox" name="dinner" class="filled-in" id="dinner-option" checked="checked" value="true" />
        <% else %>
          <input type="checkbox" name="dinner" class="filled-in" id="dinner-option" value="true" />
        <% end %>
        <label for="dinner-option">Dinner</label>
      </p>
    </div>
  </div>

  <!-- PRICE TEXT ENTRY -->
  <div class="col s11 form-elements">
    Price: <input type="text" value="<%= @item.price %>" name="price">
  </div>

</div>

<div class="col s8 offset-s2 form-component">
  <!-- DESCRIPTION TEXT AREA -->
  <div>
    Description:
  </div>
  <div>
    <% if @item.description != nil %>
      <textarea name="description" rows="10" cols="30" class="description-area"><%= @item.description %></textarea>
    <% else %>
      <textarea name="description" rows="10" cols="30" class="description-area"></textarea>
    <% end %>
  </div>
</div>
