<% if current_user %>
  <p>Hello, <%= current_user.name %></p>
<% end %>

<h1 >CURRENT CATEGORIES</h1>
<% @categories.each do |category| %>
  <ul>
    <li><%= category.name %></li>
    <li>
      <%= form_tag "/categories/#{category.id}", method: :delete do %>
      <button class="btn-floating" type="submit" value="delete"><i class="material-icons">delete</i></button>
    </li>
  <% end %>
  </ul>
<% end %>
<div>
  <%= form_tag "/categories", method: :post do %>
    <div >
      Add a New Category: <input type="text" name="category_name">
    </div>
    <div>
      <button class="btn" type="submit">Add Category</button>
    </div>
  <% end %>
</div>
<h1>CURRENT ITEMS</h1>
<a href="/items/new">Add New Item</a>
<% @items.each do |item| %>
  <h3><%= item.name %></h3>
  <p><%= item.description %></p>
  <p><%= number_to_currency(item.price) %>
  <a href="/items/<%= item.id %>/edit">Edit</a>
  <%= form_tag "/items/#{item.id}", method: :delete do %>
    <button class="btn-floating" type="submit" value="delete"><i class="material-icons">delete</i></button>
  <% end %>
<% end %>