<!-- Sets default menu based on time of day or menu selected -->
<div class="row">
  <% if current_user && @carted_items.length > 0 %>
    <div class="col s9">
  <% else %>
    <div class="col s12">
  <% end %> 
  <!-- HEADING -->
    <% if params[:lunch] == "true" %>
      <h1 class="menu menuHeading">LUNCH MENU</h1>
    <% elsif params[:dinner] == "true" %>
      <h1 class="menu menuHeading">DINNER MENU</h1>
    <% else %>
      <% if @time.hour >= 16 %>
        <h1 class="menu menuHeading">DINNER MENU</h1>
      <% else %>
        <h1 class="menu menuHeading">LUNCH MENU</h1>
      <% end %>
    <% end %>
    <!-- MENU LISTINGS -->
    <div class="items menu">
      <% @categories.each do |category| %>
        <div class="course"> 
          <% if category.items.length > 0 %>  <!-- wont show category if there are no items with that category on the menu -->
            <h2 class="category"><%= category.name.pluralize %></h2>
            <% @items.each do |item| %>
              <% if item.category.id == category.id %>
                <div class="item">
                  <h3 class="itemName"><%= item.name %></h3>
                  <p><%= item.description %></p>
                  <p><%= number_to_currency(item.price) %></p>
                  <% if current_user && (@time.hour >= 16 && @meal_time == "dinner")  || (@time.hour < 16 && @meal_time == "lunch") %>
                    <%= form_tag "/carted_items", method: :post do %>
                      <input type="hidden" name="item_id" value="<%= item.id %>">
                      <div class="col s12 quantity-box">                       <!-- QUANTITY DROPDOWN -->
                        <select name="quantity" class="quantity-select">
                          <option value="" selected disabled>Quantity</option>
                            <% for x in 1..10 %>
                              <option value="<%= x %>"><%= x %></option>
                            <% end %>
                          </select>
                        <label>Choose Quantity</label>
                      </div>
                      <input class="btn hoverable" type="submit" value="Add to Order">
                    <% end %>
                  <% end %>
                </div>
              <% end %>
            <% end %>
          <% end %>
          <div class="divider"></div>
        </div>
      <% end %>
    </div>

  </div>
  <!-- YOUR ORDER -->
  <% if current_user && @carted_items.length > 0 %>
    <div class="col s3 order-panel">
      <div>
        <h5>Your Order</h5>
        <% @carted_items.each do |carted_item| %>
          <h5 id="aqua-text"><%= carted_item.item.name %></h5>
          <p>Quantity: <%= carted_item.quantity %> - Price: <%= number_to_currency(carted_item.item.price * carted_item.quantity) %></p>
          <div class="col s12 order-buttons">
            <div class="col s3 offset-s3">
              <%= form_tag "/carted_items/#{carted_item.id}", method: :delete do %>
                <button class="btn-floating hoverable" type="submit"><i class="material-icons trash-icon">delete</i></button>
              <% end %>
            </div>
            <div class="col s3">
              <a href="/carted_items/<%= carted_item.id %>/edit" class="btn-floating hoverable"><i class="material-icons trash-icon">edit</i></a>
            </div>
          </div>
          <div class="divider"></div>
        <% end %>
      </div>
      <div>
      <div class="divider"></div>
        <ul>
          <li><strong id="aqua-text">subtotal:</strong> <%= number_to_currency(@subtotal) %></li>
          <li><strong id="aqua-text">tax:</strong> <%= number_to_currency(@tax) %></li>
          <li><strong id="aqua-text">total:</strong> <%= number_to_currency(@total) %></li>
        </ul>
      </div>
      <div>
        <%= form_tag "/orders", method: :post do %>
          <input class="btn" type="submit" value="Submit Order">
        <% end %>
      </div>
    </div>
  <% end %>

</div>


<script>
  $(document).ready(function() {
    $('select').material_select();
  });
</script>

<!-- <script>
   $(document).ready(function(){
    $('.order-panel').pushpin({
      top: 0,
      // bottom: 1000,
      offset: 0
    });
  });
</script>