<!DOCTYPE html>
<html>
  <head>
    <title>TestMenuApp</title>
    <%= csrf_meta_tags %>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <!-- Navbar -->
    <div class="navbar-fixed">
      <nav>
        <div class="nav-wrapper grey darken-3">
          <a href="/" class="brand-logo center">Restaurant Name</a>
          <ul id="nav-mobile" class="right hide-on-med-and-down">
            <% if current_user && current_user.admin %>
              <li><a href="/admin">Admin</a></li>
            <% end %> 
            <% if current_user %>
              <li><a href="/logout">Log Out</a></li>
            <% else %>
              <li><a href="signup">Sign Up</a></li>
              <li><a href="/login">Login</a></li>
            <% end %> 
          </ul>
            <ul id="nav-mobile" class="left hide-on-med-and-down">
              <li><a href="/menu?lunch=true">Lunch Menu</a></li>
              <li><a href="/menu?dinner=true">Dinner Menu</a></li>
            </ul>
        </div>
      </nav>
    </div>

    
    <div class="container">  <!-- puts all pages in a container -->
      <%= render "layouts/alerts" %> <!-- uses materialize toasts for flash messages -->
      <%= yield %>
    </div>
  </body>
</html>
